@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url("../fonts/IRANSans/IRANSansWeb.eot");
    src: url("../fonts/IRANSans/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
        url("../fonts/IRANSans/IRANSansWeb.woff") format("woff"),
        url("../fonts/IRANSans/IRANSansWeb.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Yekan';
    src: url("../fonts/Yekan.eot");
    src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Yekan.woff") format("woff"),
        url("../fonts/Yekan.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'IranNastaliq';
    src: url("../fonts/IranNastaliq.eot");
    src: url("../fonts/IranNastaliq.eot?#iefix") format("embedded-opentype"),
        url("../fonts/IranNastaliq.woff") format("woff"),
        url("../fonts/IranNastaliq.ttf") format("truetype");
    font-weight: normal;
}





body {
    direction: rtl;
    font-family: 'Vazir' !important;
    background-color: #fdf7ff;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.title {
    position: relative;
    color: #945EE6;
    border-bottom: 2px solid #945EE6;
    padding: 10px 0;


}

.title h4 {
    font-family: 'Vazir';
    font-weight: bold;
    color: #7a49c6;

}

.title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -23px;
    right: -8px;
    background-color: #945EE6;
    opacity: 0.3;
    transform: rotate(30deg);


}

nav{
    z-index: 1000;
}

.btn-success{
    background-color: #45DC00!important;
}

header {
    
    /* background-position: center;
    background-size: cover;
    position: relative;
    background: #7a49c6;
    border-radius: 150px 0 0 150px; */
    position: relative;
    z-index: 1;
    

}
header::before{
    content: '';
    position: absolute;
    background-image: url('../images/Group\ 24\(1\).png');
    background-position: center;
    background-size: cover;
    /* transform: rotate(18deg); */
    width: 100%;
    height: 750px;
    top: -75px;
    /* border-radius: 40px; */
    

}

/* header::after{
    content: '';
    position: absolute;
    background-color: rgb(1, 34, 67,0.8);
    transform: rotate(16.4deg);
    width: 100%;
    height: 820px;
    top: -250px;
    border-radius: 40px;
    z-index: 2;
    

} */



/* header::before {
    content: '';
    position: absolute;
    background-image: url('../images/pattern2.png');
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: .6;
    border-radius: 160px;
} */

/* header::before {
    content: '';
    position: absolute;
    border-bottom: 100vh solid #945EE6;
	border-left: 0px solid transparent;
	border-right: 30vh solid transparent;
   
	height: 100vh;
	width: 50%;
    left: 0;
    bottom: 0;
   
} */

/* header .login {

    cursor: pointer;
    border: 2px solid #945EE6;
    background-color: #fff;
    border-radius: 10px;
    color: #945EE6;
    padding: 12px 15px;

    transition: .1s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    transition: all 0.1s ease-in;



}

header .login a {
    background-color: #45DC00;
}

header .login:hover {

    color: #45DC00;
    /* background-color: #45DC00; 
    border: 2px solid #fff;
} */

/* 
header .login::after {
    background-color: #fff;
    border-radius: 25px 0px 25px 0px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .3s transform ease-out;
    will-change: transform;
    z-index: -1;
    

}


header .login:hover::after {
    transform: translate(0, 0);
}

header .login:hover {
    border: 2px solid #fff;
    color: #945EE6;
    transform: scale(1.05);
    will-change: transform;
    color: #945EE6;
} */


header .header {
    width: 100%;
    position: relative;

    border-radius: 30px;
    position: relative;
}


header .header img {

    position: absolute;
    z-index: 1000;
    top: -30px;
    left: 0;
    /* left: -15px; */
    /* left: -100px;
    top: -50px;
    width: 580px; */

}

/* header .header .header-image .shape section {
    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 80%;
} */

/* header .header .shape section:nth-child(1) {
    position: absolute;
    top: 30%;
    right: 100%;
    border-radius: 10px;
    background-color: #bbafcc;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    animation: shapeOne 8s linear infinite; 
} */

/* 
@keyframes shapeOne {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* header .header .shape section:nth-child(2) {
    position: absolute;
    top: 0;
    right: 60%;
    border-radius: 10px;
    background-color: #45DC00;
    width: 60px;
    height: 60px;
    transform: rotate(20deg);
    opacity: 0.6;
   
} */

/* @keyframes shapeOne {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* header .header .shape section:nth-child(3) {
    position: absolute;
    top: 80%;
    right: 100%;
    border-radius: 10px;
    background-color: #45DC00;
    width: 45px;
    height: 45px;
    transform: rotate(20deg);
    opacity: 0.6;
   
}

header .header .shape section:nth-child(4) {
    position: absolute;
    top: 50%;
    right: 50%px;
    border-radius: 10px;
    background-color: #bbafcc;
    width: 25px;
    height: 25px;

    transform: rotate(20deg);
   
} */

header .header .header-content {
    font-family: 'Vazir';
    margin-top: 30px;
    z-index: 2000;
}

.header .header-content .header-title {
    position: relative;
    z-index: 100;
}

.header .header-content .header-title h6 {

    color: #fff;
    
}

.header .header-content .header-title h3 {
    font-size: 40px;
    color: #45DC00;
    font-family: 'IranNastaliq';
    font-size: 70px;
    /* font-weight: bold; */
    padding-right: 50px;

}

.header .header-content .header-option h6 {

    color: #fff;
    font-size: 20px;
    line-height: 30px;
    z-index: 100;
}



.header .header-content .header-option h6:nth-child(1) {

    animation-name: title1;
    animation-duration: 1s;
    animation-delay: 0s;
    z-index: 1000;
}
.header .header-content .header-option h6:nth-child(2) {

    animation-name: title1;
    animation-duration: 2s;
    animation-delay: 0s;
}
.header .header-content .header-option h6:nth-child(3) {

    animation-name: title1;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes title1 {
    0% {
      transform: translateX(80px);
    }
  
    100% {
      transform: translateX(0px);
    }
  }

/* .header .header-content .header-title h3 span{
    color: #945EE6;
} */
/* .header .header-content .header-title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -23px;
    right: -8px;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(30deg);


} */

.header .header-content .header-option h5 {
    font-weight: bold;
    opacity: 0.8;
}

.header .header-content .header-link {
    font-weight: bold;


}

/* .header .header-content .header-link .pay-button {

    border: 2px solid #945EE6;
    background-color: #fff;
    border-radius: 30px 5px 30px 5px;
    color: #945EE6;
    padding: 12px 20px;

}

.header .header-content .header-link .loan-button {

    border: 2px solid #fff;
    background-color: #945EE6;
    border-radius: 30px 5px 30px 5px;
    color: #fff;
    padding: 12px 20px;

} */

/* counter */

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 100px 0 0 0;

}

.counter .counter-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
    padding: 50px 0;
    


}
.counter .counter-item::before{
    content: '';
    position: absolute;
    background-image: url('../images/logo.png') ;
  
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 30%;
    opacity: 0.3;
    padding: 50px;
    

}
.counter .counter-item .counet-number{
    font-family: 'Yekan';
    z-index: 100;
}
.counter .counter-item .counet-number h4{
    z-index: 100;
    font-size:60px;
   
}

.counter .counter-item .counter-title{
    z-index: 100;
}


/* about-us */
.about-us {

    width: 100%;
    /* height: 100vh; */
    
    border-radius: 0 160px 160px 0;
    /* display: flex;
    
   
    justify-content: center;
    flex-direction: column;
    margin: auto; */

}

.about-us .about-content {

    display: flex;
    align-items: center;
    color: #945EE6;
}

.about-us .about-card .field {
    border-radius: 30px 5px 30px 5px;
    background-color: #dbcfec;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .about-us .about-card .field::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #45DC00;
    width: 10px;
    height: 100%;
    border-radius: 0 8px 8px 0;

} */

.about-us .about-card .field .field-title {
    color: #45DC00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fdf7ff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-us .about-card .field .content{
    color: #707070;
    font-size: 12px;
    line-height: 25px;
}


/* .about-us .title {
    position: relative;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;

}
.about-us .title h4{
    font-family: 'Vazir';
    font-weight: bold;

}

.about-us .title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -15px;
    right: -8px;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(30deg);


} */

/* news */
.news{

    width: 100%;
    background-color: #7a49c6;
    border-radius: 160px 0 0 160px;
    padding: 50px 0;

}

/* contact */
.contact {
    width: 100%;
    background-color: #fff;
    width: 100%;
    /* height: 100vh; */
    border-radius: 0 160px 160px 0;
    font-family: 'Yekan';


}

.contact .contact-option {

   background-color: #e1f8d4;
   padding: 30px 0;
   border-radius: 30px 0 30px 0;

}
.contact .contact-option svg{
    color: #7a49c6;
}

/* footer */
.footer {
    width: 100%;
    color: #fff;
    background-color: #7a49c6;
    border-radius: 160px 0 0 0;
    padding: 10px 0;
}

.footer p {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 12px;
}