@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

body {
    direction: rtl;
    font-family: 'Vazir' !important;
    background-color: #fdf7ff;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.title {
    position: relative;
    color: #945EE6;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    

}
.title h4{
    font-family: 'Vazir';
    font-weight: bold;

}

.title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -23px;
    right: -8px;
    background-color: #945EE6;
    opacity: 0.3;
    transform: rotate(30deg);


}

header {
    /* background-image: url('../images/header.png'); */
   
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
header::before {
    content: '';
    position: absolute;
    border-bottom: 100vh solid #945EE6;
	border-left: 0px solid transparent;
	border-right: 30vh solid transparent;
   
	height: 100vh;
	width: 50%;
    left: 0;
    bottom: 0;
   
}

header .login {

    cursor: pointer;
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 25px 5px 25px 5px;
    font-size: 0.8rem;
    color: #945EE6;
    border: 2px solid #fff;
    transition: .1s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    transition: all 0.3s ease-in;
    font-weight: bold;
 

}
header .login a{
    display: block;
}
header .login:hover{

    color: #fff;
    background-color: #45DC00;
    border: 2px solid #45DC00;
}

/* 
header .login::after {
    background-color: #fff;
    border-radius: 25px 0px 25px 0px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .3s transform ease-out;
    will-change: transform;
    z-index: -1;
    

}


header .login:hover::after {
    transform: translate(0, 0);
}

header .login:hover {
    border: 2px solid #fff;
    color: #945EE6;
    transform: scale(1.05);
    will-change: transform;
    color: #945EE6;
} */


header .header {
    width: 100%;
    position: relative;
   
    border-radius: 30px;
    position: relative;
}


header .header img {

    position: absolute;
    left: -100px;
    top: -50px;
    width: 500px;

}

header .header .header-image .shape section {
    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 80%;
}

header .header .shape section:nth-child(1) {
    position: absolute;
    top: 30%;
    right: 100%;
    border-radius: 10px;
    background-color: #945EE6;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    /* animation: shapeOne 8s linear infinite; */
}

/* 
@keyframes shapeOne {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

header .header .shape section:nth-child(2) {
    position: absolute;
    top: 0;
    right: 60%;
    border-radius: 10px;
    background-color: #45DC00;
    width: 60px;
    height: 60px;
    transform: rotate(20deg);
    opacity: 0.6;
    /* animation: shapeOne 8s linear infinite; */
}

/* @keyframes shapeOne {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

header .header .shape section:nth-child(3) {
    position: absolute;
    top: 80%;
    right: 100%;
    border-radius: 10px;
    background-color: #45DC00;
    width: 45px;
    height: 45px;
    transform: rotate(20deg);
    opacity: 0.6;
    /* animation: shapeOne 8s linear infinite; */
}

header .header .shape section:nth-child(4) {
    position: absolute;
    top: 50%;
    right: 50%px;
    border-radius: 10px;
    background-color: #945EE6;
    width: 25px;
    height: 25px;
    transform: rotate(20deg);
    /* animation: shapeOne 8s linear infinite; */
}

header .header .header-content {
    font-family: 'Vazir';
    margin-top: 50px;
}

.header .header-content .header-title {
    position: relative;
    z-index: 100;
}

.header .header-content .header-title h6 {
    font-weight: bold;
    color: #000;
}

.header .header-content .header-title h3 {
    font-size: 35px;
    font-weight: bolder;
    color: #45DC00;

}

.header .header-content .header-option h6 {
    
    color: #000;
}

/* .header .header-content .header-title h3 span{
    color: #945EE6;
} */
.header .header-content .header-title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -23px;
    right: -8px;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(30deg);


}

.header .header-content .header-option h5 {
    font-weight: bold;
    opacity: 0.8;
}

.header .header-content .header-link {
    font-weight: bold;
    

}

.header .header-content .header-link .pay-button {

    border: 2px solid #945EE6;
    background-color: #fff;
    border-radius: 30px 5px 30px 5px;
    color: #945EE6;
    padding: 12px 20px;

}

.header .header-content .header-link .loan-button {

    border: 2px solid #fff;
    background-color: #945EE6;
    border-radius: 30px 5px 30px 5px;
    color: #fff;
    padding: 12px 20px;

}


/* about-us */
.about-us {

    width: 100%;
    height: 100vh;
    /* display: flex;
   
    justify-content: center;
    flex-direction: column;
    margin: auto; */

}

.about-us .about-content {

    display: flex;
    align-items: center;
    color: #fff;
}

.about-us .about-card .field {
    border-radius: 8px;
    background-color: #fff;
    position: relative;

}

.about-us .about-card .field::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #45DC00;
    width: 10px;
    height: 100%;
    border-radius: 0 8px 8px 0;

}

.about-us .about-card .field .field-title {
    color: #945EE6;
    opacity: 0.8;

}

.about-us .title {
    position: relative;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;

}
.about-us .title h4{
    font-family: 'Vazir';
    font-weight: bold;

}

.about-us .title::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: -15px;
    right: -8px;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(30deg);


}

/* news */
.news {
    width: 100%;

}

/* contact */
.contact {
    width: 100%;
    background-color: #945EE6;
    width: 100%;
    height: 100vh;


}

.contact .info {

    background-color: #fff;
    border-radius: 50px 5px 50px 5px;
    padding: 20px;
    margin: auto;

}